In [ ]:
import pandas as pd
df=pd.read_csv('Strokes.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,avg_glucose_level_2
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,233.008420
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,205.245454
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,107.460932
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,173.376126
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,175.038492

In [ ]:
#Missing values in different variables

df.isnull().sum()

id                       0
gender                   0
age                      0
hypertension             0
heart_disease            0
ever_married             0
work_type                0
Residence_type           0
avg_glucose_level        0
bmi                    201
smoking_status           0
stroke                   0
avg_glucose_level_2      0
dtype: int64

In [ ]:
# Rreplacing missing values by specific values

# Calculate the mean of the 'bmi' column, excluding NaN values
mean_bmi = df['bmi'].mean()

# Replace missing 'bmi' values with the calculated mean
df['bmi'].fillna(mean_bmi, inplace=True)

# Check if there are any remaining missing values
print("\nMissing values after imputation:")
print(df.isnull().sum())

Missing values after imputation:
id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                    0
smoking_status         0
stroke                 0
avg_glucose_level_2    0
dtype: int64

/tmp/ipython-input-8-194332662.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bmi'].fillna(mean_bmi, inplace=True)

In [ ]:
import pandas as pd
# Recoding 'stroke' variable: 0 for no stroke, 1 for stroke
df['stroke_binary'] = df['stroke'].apply(lambda x: 1 if x == 1 else 0)
print(df['stroke_binary'].value_counts())

stroke_binary
0    4861
1     249
Name: count, dtype: int64

In [ ]:
# Example: Recoding 'age' into categories
# Define age bins and labels
age_bins = [0, 18, 35, 60, 100]
age_labels = ['0-17', '18-34', '35-59', '60+']

# Create the new categorical 'age_group' variable
df['age_group'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, right=False)

# Display the value counts of the new 'age_group' variable
print("\nValue counts for recoded 'age_group' variable:")
print(df['age_group'].value_counts())

Value counts for recoded 'age_group' variable:
age_group
35-59    1889
60+      1376
18-34     989
0-17      856
Name: count, dtype: int64